<html>

<head>
    <title>Book Reviews</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Book Review System</span>
    </div>
</nav>
    <h1>Book Reviews</h1>
<div class="container mt-4"></div>
    <!-- Add a div to input book data -->
    <div class="card" id="addBook">
        <div class="card-header bg-primary text-white">
        <h2>Add a Book</h2></div>
        <div class="card-body">
            <div class="mb-3"><input type="text" id="bookTitle" placeholder="Book Title"></div>
            <div class="mb-3"></div><input type="text" id="publicationYear" placeholder="Publication Year"></div>
            <div class="mb-3"></div><input type="text" id="author" placeholder="Author"></div>
            <button onclick="addBook()">Add</button>
        </div>
    </div>
</div>
    <!-- Display books in this div -->
    <div id="bookList">
        <!-- Book data will be displayed here dynamically -->
    </div>

    <button id="showBooksButton" onclick="showAllBooks()">Show All Books</button>

    <!-- Display books in this div -->
<div class="container mt-4">
    <h2>All Books</h2>
    <button class="btn btn-success mb-3" onclick="showAllBooks()">Show All Books</button>
    <div class="row" id="allbooks"></div>
</div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
</body>

</html>